{% extends 'core/base.html' %}

{% block title %}{{ item.name}}{% endblock %}

{% block content %}
    <div class="grid grid-col-5 gap-6">
        <img class="rounded-xl" src="{{ items.image.url }}" alt="">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="m6-6 text-3xl">{{ items.name }}</h1>
        <p class="text-gray-500"><strong>Price:</strong>{{ items.price }}</p>
        <p class="text-gray-500"><strong>Seller:</strong>{{ items.created_by.username}}</p>
        <p class="text-gray-700"><strong>Description:</strong><br>{{ items.description }}</p>

        <a href="" class="inline-block mt-6 px-6 py-3 text-lg rounded-xl font-semibold bg-teal-500 text-white hover:bg-teal-700">Contact Seller</a>

    </div>
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Related items</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for items in related_items %}
                <div>
                    <a href="{% url 'item:detail' items.id %}">
                        <div>
                            <img src="{{ items.image.url }}" alt="" class="rounded-t-xl">
                        </div>
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ items.name }}</h2>
                            <p class="text-gray-500">Price: {{ items.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}