{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock %} | SneakerzInStock</title>
</head>
<body>

    {% include 'core/navbar.html' %}
    
    {% if messages %}
        <div class="my-4">
            {% for message in messages %}
                <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md relative" role="alert">
                    <div class="flex justify-between items-center">
                        <div class="mx-auto">
                            <p class="text-md text-center">{{ message }}</p>
                        </div>
                        <button class="text-teal-500 focus:outline-none absolute top-0 right-0 mt-2 mr-2" onclick="this.parentElement.parentElement.style.display='none';">
                            <svg class="fill-current h-6 w-6" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <title>Close</title>
                                <path d="M14.348 14.849a1 1 0 010 1.414l-.02.02a1 1 0 01-1.414 0L10 12.414l-2.914 2.914a1 1 0 01-1.414-1.414L8.586 10 5.672 7.086a1 1 0 011.414-1.414L10 8.586l2.914-2.914a1 1 0 011.414 1.414L11.414 10l2.934 2.934z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}



    <div class="px-6 py-6">
        {% block content %}
        
        {% endblock %}
    </div>

    <footer class="py-6 px-6 flex justify-between bg-gray-500">
        <div class="w-2/3 pr-10">
            <h3 class="mb-5 font-semibold text-gray-400">About</h3>
            <p class="text-gray-300">
                SneakerzInStock is your one-stop shop for the latest and greatest in sneaker fashion. We provide a comprehensive selection of shoes for all tastes and styles. Our mission is to keep you updated with the hottest trends and ensure your feet stay stylish and comfortable.
            </p>
        </div>
        <div class="w-1/3">
            <h3 class="mb-5 font-semibold text-gray-400">Links</h3>
            <ul class="space-y-2">
                <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700">About</a></li>
                <li><a href="{% url 'core:contact' %}" class="text-lg text-teal-500 hover:text-teal-700">Contact Us</a></li>
                <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700">Privacy</a></li>
                <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700">Terms of Use</a></li>
            </ul>
        </div>
    </footer>
    <div class="py-4 bg-gray-600 text-center text-gray-400">
        <p>&copy; <span id="currentYear"></span> KMitchell Programming. All rights reserved.</p>
    </div>
    
    <script>
        document.getElementById('currentYear').textContent = new Date().getFullYear();

        function showModal(itemImage, itemPrice, cartTotal) {
            document.getElementById('modalItemImage').src = itemImage;
            document.getElementById('modalItemPrice').textContent = itemPrice;
            document.getElementById('modalCartTotal').textContent = cartTotal;
            document.getElementById('cartModal').classList.remove('hidden');
        }
    </script>

    <!-- Modal -->
    <div id="cartModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-11/12 md:w-1/3">
            <h3 class="text-lg font-bold mb-4">Item Added to Cart</h3>
            <img id="modalItemImage" class="mb-4 w-full h-48 object-cover rounded">
            <p class="text-gray-700 mb-2">Price: $<span id="modalItemPrice"></span></p>
            <p class="text-gray-700 mb-4">Current Cart Total: $<span id="modalCartTotal"></span></p>
            <div class="flex justify-between">
                <a href="{% url 'cart:view_cart' %}" class="bg-teal-500 text-white px-4 py-2 rounded hover:bg-teal-700">Proceed to Cart</a>
                <button class="bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400" onclick="document.getElementById('cartModal').classList.add('hidden')">Continue Shopping</button>
            </div>
        </div>
    </div>

</body>
</html>
