{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %} | Puddle
{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Newest items</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {% for item in items %}
                <div class="bg-white rounded-xl overflow-hidden shadow-lg">
                    <a href="{% url 'item:detail' item.id %}">
                        <img src="{{ item.image.url }}" alt="" class="w-full h-48 object-cover">
                        <div class="p-6">
                            <h2 class="text-xl font-bold">{{ item.name| upper }}</h2>
                            <p class="text-gray-500 mt-2">${{ item.price|floatformat:2 }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
            <p>More items coming soon..........</p>
        </div>
    </div>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Categories</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {% for category in categories %}
                <div class="bg-white rounded-xl overflow-hidden shadow-lg">
                    <a href="#">
                        <div class="p-6">
                            <h2 class="text-xl font-bold">{{ category.name }}</h2>
                            <p class="text-gray-500 mt-2">{{ category.items.count }} Items</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
