{% extends 'core/base.html' %}
{% load static %}
{% block title %}My Items | Puddle{% endblock %}

{% block content %}
<div class="container mx-auto px-4 md:px-8 lg:px-16 mt-6 py-6 bg-gray-100 rounded-xl">
    <h2 class="mb-6 text-3xl font-semibold text-center">
        {% if is_owner %}
            My Items
        {% else %}
            {{ user.username }}'s Items
        {% endif %}
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% if items %}
            <!-- Display items here -->
            {% for item in items %}
                <div class="bg-white rounded-xl overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-200">
                    <a href="{% url 'item:detail' item.id %}">
                        {% if item.images.all %}
                            <img src="{{ item.images.all.0.image.url }}" alt="{{ item.name }}" class="w-full h-48 object-cover">
                        {% else %}
                            <img src="{% static 'media/item_images/images.png' %}" alt="{{ item.name }}" class="w-full h-48 object-cover">
                        {% endif %}
                        <div class="p-4 text-center">
                            <h2 class="text-xl font-bold text-gray-900">{{ item.name|upper }}</h2>
                            <p class="text-gray-500 mt-2">${{ item.price|floatformat:2 }}</p>
                        </div>
                    </a>
                    {% if item.quantity > 0 %}
                        <span class="inline-block mt-2 text-xs font-semibold text-red-600 bg-red-100 px-2 py-1 rounded-full">
                            Only {{ item.quantity }} left!
                        </span>
                    {% else %}
                        <span class="inline-block mt-2 text-xs font-semibold text-gray-500 bg-gray-200 px-2 py-1 rounded-full">
                            Out of stock
                        </span>
                    {% endif %}
                </div>
            {% endfor %}
        
        {% else %}
            <div class="text-center col-span-1 sm:col-span-2 md:col-span-3 lg:col-span-4">
                <p class="text-xl text-gray-700">You don't have any items yet.</p>
                <a href="{% url 'item:new' %}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-4">Add Item</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
