{% extends 'core/base.html' %}

{% block title %}My Items{% endblock %} | Puddle
{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">My Items</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {% for items in items %}
                <div class="bg-white rounded-xl overflow-hidden shadow-lg">
                    <a href="{% url 'item:detail' items.id %}">
                        <img src="{{ items.image.url }}" alt="" class="w-full h-48 object-cover">
                        <div class="p-6">
                            <h2 class="text-xl font-bold">{{ items.name| upper }}</h2>
                            <p class="text-gray-500 mt-2">Price: {{ items.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
{% endblock %}