{% extends 'core/base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl mb-6 font-semibold text-center">
        Checkout <span class="text-gray-500">({{ cart_item_count }} items)</span>
    </h1>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
        <!-- Order Summary -->
        <div class="lg:col-span-2 bg-white p-6 rounded-xl shadow-lg">
            <h2 class="text-2xl font-semibold mb-4">Order Summary</h2>
            <ul>
                {% for item in cart_items %}
                    <li class="flex flex-row items-center mb-4">
                        <img src="{{ item.item.images.first.image.url }}" alt="{{ item.item.name }}" class="w-16 h-16 object-cover rounded-lg">
                        <div class="ml-4">
                            <h3 class="text-lg font-semibold">{{ item.item.name }}</h3>
                            <p class="text-gray-700">Quantity: {{ item.quantity }}</p>
                            <p class="text-gray-700">Price: ${{ item.item.price|floatformat:2 }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="mt-6">
                <p class="text-xl font-semibold">Total Price: ${{ total_price|floatformat:2 }}</p>
            </div>
            <div class="mt-8 flex justify-between">
                <a href="{% url 'cart:view_cart' %}" class="px-6 py-3 bg-gray-500 text-white rounded-lg shadow hover:bg-gray-600 transition duration-200 ease-in-out transform hover:-translate-y-1">Back to Cart</a>
                <a href="{% url 'payment:checkout' %}" class="px-6 py-3 bg-green-500 text-white rounded-lg shadow hover:bg-green-600 transition duration-200 ease-in-out transform hover:-translate-y-1">Go to Billing</a>
            </div>
        </div>

        <!-- Shipping Information -->
        <div class="bg-white p-6 rounded-xl shadow-lg">
            <h2 class="text-2xl font-semibold mb-4">Shipping Information</h2>
            <form method="post">
                {% csrf_token %}
                {{ shipping_form.as_p }}
                <button type="submit" class="mt-4 w-full px-6 py-3 bg-blue-500 text-white rounded-lg shadow hover:bg-blue-600 transition duration-200 ease-in-out transform hover:-translate-y-1">Save Shipping Info</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
